.wrapper{
    display: flex;
}

.box{
    width: 200px;
    height: 200px;
    background: peru;
    color: white;
}

/*
flexbox에서는 children 개념이 없음
flexbox에서 위치이동 등을 하고싶으면 flexbox container를 만들어야함
flexbox container를 만들면 그 안에 있는건 다 flexbox 형태
*/