.wrapper{
    display: flex;
    /* Main Axis */
    justify-content: space-around;
    /* Cross Axis */
    align-items: center;
    height: 100vh
}

.box{
    width: 200px;
    height: 200px;
    background: peru;
    color: white;
}

/*
flex-direction:row
--> default
flex-direction:column
Main axis=세로(justify-content) 
Cross axis=가로(align-items)
*/