$minIphone: 500px;
$maxIphone: 690px;
$minTablet: $minIphone + 1;
$maxTablet: 1120px;

@mixin responsive($device) {
    @if $device == "iphone" {
        @media screen and (min-width: $minIphone)  and (max-width: $maxIphone) {
            @content;
        }
    }
    @else if $device == "tablet" {
        @media screen and (min-width: $minTablet)  and (max-width: $maxTablet) {
            @content;
        }
    }
    @else if $device == "iphone-l" {
        @media screen and (min-width: $minIphone)  and (max-width: $maxIphone) and (orientation: landscape) {
            @content;
        }
    }
    @else if $device == "ipad-l" {
        @media screen and (min-width: $minTablet)  and (max-width: $maxTablet) and (orientation: landscape) {
            @content;
        }
    }
}

//@mixin을 이용하여 사용
//@content --> 다른 곳에서 추가한 내용을 가져옴