@import "_variables";
@import "_buttons";

body {
    background: $bg;
}
a{
    @extend %button;
    text-decoration: none;
}
  
button {
    @extend %button;
    border: none;
}


/*
   Extends: 같은 코드를 중복하고 싶지않을때 사용
   @extend를 이용, 여기는 값에 %변수를 사용한다

*/