@import "_mixins";

h1 {
    color:red;
    @include responsive("iphone"){
        color: yellow;
    }
    @include responsive("iphone-l"){
        font-size: 60px;
    }
    @include responsive("tablet"){
        color: green;
    }
}
// _mixin의 @content로 @include responsive 내부 내용이 들어감